<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../static/style.css" />
        <title>Simple Price Tracking</title>
    </head>
    <body>
        <div class="container">
            <h1>
                <span class="line">simple amazon</span>
                <span class="line">price tracking</span>
            </h1>
            {% if message %}
            <p class="message">{{ message | safe }}</p>
            {% endif %}
            <form action="/submit" method="POST">
                <div class="form-group">
                    <h3>Product URL</h3>
                    <input
                        type="text"
                        name="product-url"
                        value="{{ prevProductURL | safe }}"
                        placeholder="https://www.amazon.co.jp/product-URL"
                        required
                    />
                </div>
                <div class="form-group">
                    <h3>Desired Price</h3>
                    <input
                        type="text"
                        name="target-price"
                        value="{{ prevTargetPrice | safe }}"
                        placeholder="50,000"
                        required
                    />
                </div>
                <div class="form-group">
                    <h3>Email</h3>
                    <input
                        type="email"
                        name="user-email"
                        value="{{ prevUserEmail | safe }}"
                        placeholder="my_email@address.com"
                        required
                    />
                </div>
                <input type="submit" value="Submit" class="btn" />
                </div>
            </form>
        </div>
    </body>
</html>
